*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Rajdhani', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header*/

header{
    width: 100%;
    height: 600px;
    background: #373B44; 
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.636), hsla(222, 11%, 24%, 0.619)), url(../img/Fondo.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(217, 89%, 61%, 0.636), hsla(222, 11%, 24%, 0.619)), url(../img/Fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: white;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*about us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
   margin-bottom: 15px;
   padding: 0px 0px 30px 15px;
   text-align: center;
}


.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
 }

 /* Camisetas */

 #camisetas{
    background-color: hwb(216 8% 68%);
    color: white;
    text-align: center;
} 

 #camisetas .contenedor{
    padding: 100px 0px;
}

#camisetas h2{
    margin-top: 0;
    color: white;

}

#camisetas p{
    display: none;
}

#camisetas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
}


.carta:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("img/Local.jpeg");
}
    

.carta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
     )
    ,url("img/Visita.jpeg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
    )
    ,url("img/Arquero.jpeg");
}

.carta:nth-child(4){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)    
    )
    ,url("img/Especial.jpeg")
}



#camisetas .categorias{
    display: flex;
    justify-content: center;
}

#camisetas p{
    display: block;
}

#camisetas h3{
    margin-top: 0;
}

 /* Camisetas Local */
 
 h2{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
 }

 .linea{
    background: black;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
   width: 95%;
   margin: auto;
   grid-gap: 10px;
   padding: 40px 0;
   overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px black;
}


.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform (0.5s);
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.ligth-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.ligth-box img{
    width: 75vw;
    max-height: 70vh;
}

.ligth-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: red;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
}

.next{
    display: block;
    background: red;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

/*Fotografias*/

.fondo-distinto2 {
    width: 100%;
    height: 600px;
    background: #373B44; 
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(218, 24%, 80%, 0.64), hsla(222, 11%, 24%, 0.619)), url(../img/fondofotos.JPG);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(217, 12%, 37%, 0.636), hsla(222, 11%, 24%, 0.619)), url(../img/fondofotos.JPG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#imagenes{
    background-color: hwb(214 29% 68% / 0.989);
    color: white;
    text-align: center;
} 

 #imagenes .contenedor{
    padding: 100px 0px;
}

#imagenes h2{
    margin-top: 0;
    color: white;

}

#imagenes p{
    display: none;
}

#imagenes .foto-fondo2{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
}

#imagenes .foto-fondo3{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
}
 
.foto-fondo2{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("img/blanco.jpg");
}

.foto-fondo3{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("img/color.JPG");
}

#imagenes .categorias{
    display: flex;
    justify-content: center;
}

#imagenes p{
    display: block;
}

#imagenes h3{
    margin-top: 0;
}

/*inicio*/

.fondo-distinto {
    width: 100%;
    height: 600px;
    background: #373B44; 
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(112, 28%, 27%, 0.856), hsla(222, 11%, 24%, 0.619)), url(../img/Fondodiego.JPG);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(96, 63%, 8%, 0.755), hsla(222, 11%, 24%, 0.619)), url(../img/Fondodiego.JPG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#tipo{
    background-color: hwb(133 7% 83% / 0.908);
    color: white;
    text-align: center;
} 

 #tipo .contenedor{
    padding: 100px 0px;
}

#tipo h2{
    margin-top: 0;
    color: white;

}

#tipo p{
    display: none;
}


#tipo .foto-fondo{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
}
 
.foto-fondo{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("img/collage.jpg");
}

#tipo .foto-fondo4{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
}
 
.foto-fondo4{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("img/Local.jpeg");
}

#tipo .categorias{
    display: flex;
    justify-content: center;
}

#tipo p{
    display: block;
}

#tipo h3{
    margin-top: 0;
}