body {
    font-family: rajdhani ;
    background-color: white ;
}

div,

.container {
    max-width: auto;
    margin-left: 150px;
    margin-right: 150px;
  }

  h1,
.main-title { 
    text-align: center;
    font-size: 2rem;
    font-weight: regular 400;
    color: black;
}

h2,
.main-title { 
    text-align: center;
    font-size: medium;
    font-weight: regular 400;
    color: black;
}

figure,
.imagenes{

    position: center;
}
 